{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="selectedArt">
    <div class="selectedBg">
    <img src="{% static selectedArt.imgpath %}" id="displayedArt" width="200" height="200">
    <table>

        <p>{{selectedArt.name}}</p>
        <tr><th>Author:</th> <td>{{selectedArt.artistid.nickname}}</td></tr>
        <tr><th>Style:</th> <td>{{selectedArt.style}}</td></tr>
        <tr><th>Type:</th> <td>{{selectedArt.type}}</td></tr>
        <tr><th>Price:</th> <td>${{selectedArt.price}}</td></tr>

    </table>
    <div class="details">
         <div class="reviews">
        <h3>Reviews</h3>
        <ul>

        {% for review in reviews %}
       <li class="review">
           <b>User:</b> {{review.customerid.first_name}} <i>{{review.stars}}/5</i>
           <br>
            {{review.comment}}
           <hr>
       </li>

        {% endfor %}
        </ul>
    </div>
{% if isAdmin == True %}
    <div class="buttons">
        <form id="buttons" action="registerart">

            <a href="registerart?id={{selectedArt.artid}}"></a><button name="id" value="{{selectedArt.artid}}">Register</button>
        </form>
    </div>
{% endif %}
{% if isAdmin == False and isArtist == False and loggedId != -1 %}
<div class="buttons">
        <form id="buttons" action="newreview">

            <a href="newreview?id={{selectedArt.artid}}"></a><button name="id" value="{{selectedArt.artid}}">Add Review</button>
        </form>

    </div>
{% endif %}
        </div>
    </div>


</div>


{% include "footer.html" %}

