{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}
{% if isAdmin == True %}
<div class="artworkList" id="artworkList" style="display:flex">
    <table class="tg">
    <thead>
      <tr>
        <td class="tg-fymr">ID</td>
        <td class="tg-1wig">First Name</td>
        <td class="tg-1wig">Last Name</td>
        <td class="tg-1wig">Email</td>
        <td class="tg-1wig">Nickname</td>

        <td class="tg-1wig"></td>
        <td class="tg-1wig"></td>

      </tr>
      <form name="artList">
         {% for artist in artists %}
            <tr>
                <td>{{artist.artistid}}</td>
                <td>{{artist.first_name}}</td>
                <td>{{artist.last_name}}</td>
                <td>{{artist.email}}</td>
                <td>{{artist.nickname}}</td>
                <td><button type="submit" name="edit" value="{{artist.artistid}}">Edit</button></td>
                <td><button type="submit" name="delete" value="{{artist.artistid}}">Delete</button></td>
            </tr>
          {% endfor %}
      </form>
    </thead>
    </table>
</div>
{% endif %}
{% include "footer.html" %}