{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="loginForm">
    <table>

        <form id="editForm" action="artists">
            <input type="hidden" name="edited" value="true">
            <input type="hidden" name="editId" value="{{artist.artistid}}">
            <tr><th><label>First Name:</label></th><td><input type="text" name="tb_firstname" value="{{artist.first_name}}"></td></tr>
            <tr><th><label>Last Name:</label> </th><td><input type="text" name="tb_lastname" value="{{artist.last_name}}"></td></tr>
            <tr><th><label>Email:</label> </th><td><input type="text" name="tb_email" value="{{artist.email}}"></td></tr>
            <tr><th><label>Nickname:</label> </th><td><input type="text" name="tb_nickname" value="{{artist.nickname}}"></td></tr>
            <tr><th colspan="2"><button type="submit">Update</button></th></tr>

        </form>

    </table>

</div>
{% include "footer.html" %}
