{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}
{% if isAdmin == True %}
<div class="artworkList" id="artworkList" style="display:flex">
    <table class="tg">
    <thead>
      <tr>
        <td class="tg-fymr">ID</td>
        <td class="tg-1wig">First Name</td>
        <td class="tg-1wig">Last Name</td>
        <td class="tg-1wig">Email</td>
        <td class="tg-1wig">Phone</td>
        <td class="tg-1wig"></td>
        <td class="tg-1wig"></td>

      </tr>
      <form name="artList">
         {% for customer in customers %}
            <tr>
                <td>{{customer.customerid}}</td>
                <td>{{customer.first_name}}</td>
                <td>{{customer.last_name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td><button type="submit" name="edit" value="{{customer.customerid}}">Edit</button></td>
                <td><button type="submit" name="delete" value="{{customer.customerid}}">Delete</button></td>
            </tr>
          {% endfor %}
      </form>
    </thead>
    </table>
</div>
{% endif %}
{% include "footer.html" %}