{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="loginForm">
    <table>

        <form id="editForm" action="customers">
            <input type="hidden" name="edited" value="true">
            <input type="hidden" name="editId" value="{{customer.customerid}}">
            <tr><th><label>First Name:</label></th><td><input type="text" name="tb_firstname" value="{{customer.first_name}}"></td></tr>
            <tr><th><label>Last Name:</label> </th><td><input type="text" name="tb_lastname" value="{{customer.last_name}}"></td></tr>
            <tr><th><label>Email:</label> </th><td><input type="text" name="tb_email" value="{{customer.email}}"></td></tr>
            <tr><th><label>Phone:</label> </th><td><input type="text" name="tb_phone" value="{{customer.phone}}"></td></tr>
            <tr><th colspan="2"><button type="submit">Update</button></th></tr>

        </form>

    </table>

</div>
{% include "footer.html" %}
