{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}
<div class="artworkList" id="artworkList" style="display:flex">

    <table class="tg">
    <thead>
    {% if isAdmin == True %}
    <tr><th colspan="7"><a href="/newExhibition"><button>New Exhibition</button></a></th></tr>
     {% endif %}
      <tr>
        <td class="tg-fymr">ID</td>
        <td class="tg-1wig">Starting Date</td>
        <td class="tg-1wig">Ending Date</td>
        <td class="tg-1wig">Address</td>
        <td class="tg-1wig">Number of Visitors</td>
        <td class="tg-1wig"></td>
          {% if isAdmin == True %}
          <td class="tg-1wig"></td>
          {% endif %}

      </tr>
         {% for exhibition in exhibitions %}
      <form name="artList" action="exhibitiondetails">
            <tr>
                <td>{{exhibition.exhibitionid}}</td>
                <td>{{exhibition.starting_date}}</td>
                <td>{{exhibition.ending_date}}</td>
                <td>{{exhibition.address}}</td>
                <td>{{exhibition.number_of_visitors}}</td>
                <td><button type="submit" name="id" value="{{exhibition.exhibitionid}}">View</button></td>
                 {% if isAdmin == True %}
      </form>
            <td><a href="/exhibitions?delete={{exhibition.exhibitionid}}"><button name="delete" value="{{exhibition.exhibitionid}}">Delete</button></a></td>
            {% endif %}
            </tr>
          {% endfor %}
    </thead>
    </table>
</div>

{% include "footer.html" %}