{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="selectedArt">
    <div class="selectedBg">


    <div class="exhibitionDetails">

        <table>
            <tr>
                <th>Address:</th>
                <td>{{exhibition.address}}</td>
            </tr>
            <tr>
                <th>Started: </th>
                <td>{{exhibition.starting_date}} </td>
                <th>Ends: </th>
                <td>{{exhibition.ending_date}} </td>
            </tr>
            <tr>
                <th>Number of Visitors:</th>
                <td>{{exhibition.number_of_visitors}}</td>
            </tr>

        </table>
    </div>


    <div class="details">
         <div class="reviews">
             <h3>Registered Art Pieces</h3>
         <table class="tg">
        <thead>
          <tr>

            <td class="tg-1wig">Title</td>
            <td class="tg-1wig">Price</td>

          </tr>


              <form name="artList" action="artdetails">
                 {% for art in arts %}
                    <tr>

                        <td>{{art.artid.name}}</td>
                        <td>{{art.artid.price}}</td>

                    </tr>
                  {% endfor %}
              </form>
          </table>
    </thead>
    </div>


    </div>
</div>

</div>


{% include "footer.html" %}

