{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>xgallery</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="card shadow">
    <div class="header">

        <header>
            <h3>Art Gallery</h3>
            <div class="headerButtons">
                {% if loggedId != -1 %}
                    Logged:
                {% endif %}
                {{loggedUsername}}

                {% if isArtist == True %}
            <a href="/submitArt"><button>Submit ArtPiece</button></a>
                {% endif %}
            <a href="/login"><button id="loginButton">Login</button></a>
        </div>
        </header>
        <nav class="mainNav">
            <a href="/"><button class="btn">ArtPieces</button></a>
            <a href="/exhibitions"><button class="btn">Exhibitions</button></a>
            {% if isAdmin == True %}
            <a href="/orders"><button class="btn">Orders</button></a>
            <a href="/customers"><button class="btn">Customers</button></a>
            <a href="/artists"><button class="btn">Artists</button></a>
            {% endif %}

        </nav>
    </div>
