{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername isAdmin=isAdmin isArtist=isArtist %}
<form class="seachForm">
    <div class="group">
    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
    <input placeholder="Search" type="search" class="input" name="tb_search">
        <button type="submit">Search</button>
    </div>

    <br>
    <div class="filterBar">
        List View:
         <label class="switch">
          <input type="checkbox" onchange='handleChange(this);'>
          <span class="slider"></span>
        </label>
    </label>

    Price:
    <select name="cb_price" id="price">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>

    </select>

    </div>

</form>

<div class="artworkBox" id="artworks">

        {% for art in artworks %}
       <div class="artpiece">

        <a href="artdetails?id={{art.artid}}" style='text-decoration:none;'>
           <p style="text-align:center;">{{art.name}}</p>
            <img src="{% static art.imgpath %}" width="200" height="200">
        </a>
       </div>
       {% endfor %}

</div>

<div class="artworkList" id="artworkList">
    <table class="tg">
    <thead>
      <tr>
        <td class="tg-fymr">ID</td>
        <td class="tg-1wig">name</td>
        <td class="tg-1wig">price</td>
        <td class="tg-1wig">style</td>
        <td class="tg-1wig">type</td>
        <td class="tg-1wig">sold</td>
        <td class="tg-1wig"></td>
          {% if isAdmin == True %}
          <td class="tg-1wig"></td>
          {% endif %}
      </tr>
         {% for art in artworks %}
      <form name="artList" action="artdetails">
            <tr>
                <td>{{art.artid}}</td>
                <td>{{art.name}}</td>
                <td>{{art.price}}</td>
                <td>{{art.style}}</td>
                <td>{{art.type}}</td>
                <td>{{art.sold}}</td>
                <td><button type="submit" name="id" value="{{art.artid}}">View</button></td>
            {% if isAdmin == True %}
      </form>
            <td><a href="/?delete={{art.artid}}"><button name="delete" value="{{art.artid}}">Delete</button></a></td>
            {% endif %}
            </tr>
          {% endfor %}
    </thead>
    </table>
</div>

<script>
    function handleChange(checkbox) {
    if(checkbox.checked != true){
        document.getElementById('artworks').style.display ='block'; document.getElementById('artworkList').style.display ='none';
    }else{
        document.getElementById('artworks').style.display ='none'; document.getElementById('artworkList').style.display ='flex';
   }
}
</script>


{% include "footer.html" %}

