{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="loginForm">

    <form id="insertForm" method="POST">
        <label>Username:</label> <input type="text" name="tb_username"><br>
        <label>Password:</label>  <input type="password" name="tb_password"><br>
        {% if error != "" %}
        <p>{{error}}</p>
        {% endif %}
        <button type="submit">Login</button><br>

    </form>


</div>
{% include "footer.html" %}
