{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="inputform">
<table>
      <form id="insertForm" method="POST">
          <tr><th><label>Startind Date:</label></th> <td><input type="date" name="tb_starting"></td></tr>
          <tr><th><label>Ending Date:</label></th>  <td><input type="date" name="tb_ending"></td></tr>
          <tr><th><label>Address:</label></th>  <td><input type="text" name="tb_address"></td></tr>
          <tr><th><label>Number of Visitors (default 0):</label><td><input type="number" name="tb_visitors" value="0"></td></th></tr>
          <tr><th colspan="2"><button type="submit">Add</button></th></tr>

    </form>

</table>


</div>
{% include "footer.html" %}
