{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="inputform">
<table>
      <form id="insertForm" method="POST">
          <input type="hidden" value="{{selectedId}}">
          <tr><th><label>Stars:</label></th>
                <td><select name="tb_stars" id="type">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </td>
        </tr>
          <tr><th><label>Comment:</label></th>  <td><textarea name="tb_comment" rows="4" cols="50"></textarea></td></tr>

          <tr><th colspan="2"><button type="submit">Add</button></th></tr>

    </form>

</table>


</div>
{% include "footer.html" %}
