{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}
  {% if isAdmin == True %}

<div class="artworkList" id="artworkList" style="display:flex">
    <table class="tg">
    <thead>
      <tr>
        <td class="tg-fymr">ID</td>
        <td class="tg-1wig">Price</td>
        <td class="tg-1wig">OnHold</td>
        <td class="tg-1wig">Art</td>
        <td class="tg-1wig">Customer</td>
        <td class="tg-1wig"></td>

      </tr>
      <form name="artList">
         {% for order in orders %}
            <tr>
                <td>{{order.orderid}}</td>
                <td>{{order.price}}</td>
                <td>{{order.on_hold}}</td>
                <td>{{order.artid.name}}</td>
                <td>{{order.customerid.first_name}}</td>
                <td><button type="submit" name="delete" value="{{order.orderid}}">Delete</button></td>
            </tr>
          {% endfor %}
      </form>
    </thead>
    </table>
</div>
 {% endif %}
{% include "footer.html" %}