{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="selectedArt">
    <img src="{% static selectedArt.imgpath %}" width="100" height="100">
     <table>

        <p>{{selectedArt.name}}</p>
        <tr><th>Author:</th> <td>{{selectedArt.artistid.nickname}}</td></tr>
        <tr><th>Style:</th> <td>{{selectedArt.style}}</td></tr>
        <tr><th>Type:</th> <td>{{selectedArt.type}}</td></tr>
        <tr><th>Price:</th> <td>${{selectedArt.price}}</td></tr>

    </table>

    <div class="details">
        <table>
            <form action="artdetails">
                <label>Exhibition: </label>
                <input type="hidden" name="id" value="{{selectedArt.artid}}">
                <input type="hidden" name="registered" value="true">
                <select name="cb_exhibitions">
                    {% for exhibition in exhibitions %}
                    <option value="{{exhibition.exhibitionid}}">{{exhibition.address}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Register</button>
            </form>
        </table>
    </div>


</div>


{% include "footer.html" %}

