{% load static %}

{% include "header.html" with loggedId=loggedId username=loggedUsername %}

<div class="inputform">
<table>
      <form id="insertForm" method="POST">
          <tr><th><label>Title:</label></th> <td><input type="text" name="tb_title"></td></tr>
          <tr><th><label>Author:</label></th>  <td><input type="text" name="tb_author" value="{{artist.nickname}}"></td></tr>
          <tr><th><label>Style:</label></th>  <td><input type="text" name="tb_style"></td></tr>
          <tr><th><label>Type:</label></th>
                <td><select name="tb_type" id="type">
                    <option value="Painting">Painting</option>
                    <option value="Digital Painting">Digital Painting</option>
                    <option value="Sculpture">Sculpture</option>
                </select>
                </td>
        </tr>

          <tr><th><label>Price:</label></th>  <td><input type="text" name="tb_price" style="width: 50px;"></td></tr>
          <tr><th><label>Source Image File:</label></th>  <td><input type="file" id="myfile" name="imgfile"></td></tr>
          <tr><th colspan="2"><button type="submit">Add</button></th></tr>

    </form>

</table>


</div>
{% include "footer.html" %}
