

* {
	margin: 0;

}

html * {
	font-family: Arial;
}

.selectedBg {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #49a7cc;
	padding: 20px;
	gap: 10px;
	border-radius: 50px;
}

#displayedArt {
	border-style: solid;
}

.header {
	background-color: #E1E2E1;
	padding: 10px;
}

table {
	background-color: #b5ffff;
	border-style: solid;
}

.center {
	background-color: red;
	width: 80%;
	margin: auto;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.mainNav {
	margin: auto;
	display: flex;
	justify-content: center;

}

form {
	text-align: center;
	margin-top: 10px;
}

.headerButtons {}

.review {
	background-color: #b5ffff;
	padding: 10px;
	border-style: solid;
	border-color: #49a7cc;
	list-style: none;
}

.inputform {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.loginForm {
	display: flex;
	justify-content: center;
}

ul {
	padding: 0;
}

.artworkBox {
	background-color: #80d8ff;
	/*! height:10%; */
	width: 67%;
	margin: auto;
	height: 600px;
	overflow: scroll;
	margin-top: 20px;
	color: #000000;
	margin-bottom: 20px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	text-align: center;
	/*! padding: 50px; */
	padding-top: 50px;
	padding-right: 50px;
}

.exhibitionDetails {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.selectedArt {
	background-color: #80d8ff;

	display: flex;
	justify-content: center;
	text-align: center;
	margin: 40px;
	padding: 20px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 50%;
	margin: auto;
}


.artpiece {
	display: inline flow-root list-item;
	width: 100px;
	list-style: none;
	margin-right: 80px;
	margin-left: 40px;
}

.reviews {
	width: 50%;
	border-style: double;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.details {
	display: flex;
	align-items: baseline;
}

.buttons {
	margin: auto;
	border-style: double;
	margin-left: 50px;
}

.artworkList {
	background-color: #80d8ff;
	/*! height:10%; */
	width: 80%;
	margin: auto;
	height: 500px;
	overflow: scroll;
	margin-top: 20px;
	display: none;
	justify-content: center;
	padding: 1em;
	margin-bottom: 20px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

.filterBar {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}


.tg {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #b5ffff;
	text-align: center;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-1wig {
	font-weight: bold;
	text-align: left;
	vertical-align: top
}

.tg .tg-fymr {
	border-color: inherit;
	font-weight: bold;
	text-align: left;
	vertical-align: top
}


/* From uiverse.io */


p {
	color: #000000;
	font-weight: bold;
}

/* From uiverse.io */
button {
	appearance: button;
	background-color: #1899D6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .8px;
	line-height: 20px;
	margin: 10px;
	outline: none;
	overflow: visible;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transform: translateZ(0);
	transition: filter .2s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

button:after {
	background-clip: padding-box;
	background-color: #1CB0F6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	bottom: -4px;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

button:main,
button:focus {
	user-select: auto;
}

button:hover:not(:disabled) {
	filter: brightness(1.1);
}

button:disabled {
	cursor: auto;
}

button:active:after {
	border-width: 0 0 0px;
}

button:active {
	padding-bottom: 10px;
}

.artworkBox ul {
	list-style: none;
	display: inline flow-root list-item;
}

.artworkBox li {
	margin: auto;
	text-align: center;
}

.card {
	width: 70%;
	height: 90%;
	background: white;
	border-radius: 10px;
	transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	margin: auto;
	margin-top: 2em;
}

.shadow {
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
		0 0 0 2px rgb(190, 190, 190),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


#loginButton {
	padding: 5px;
	font-size: 12px;
	padding-right: 10px;
	padding-left: 10px;
}


/* body{
font-size:10pt;
letter-spacing:1px;
background: url("/static/img/xbg.gif") no-repeat 0 +25px ;
font-family: Helvetica, Arial, sans-serif;
word-spacing: 5px;
letter-spacing:-1px;
color: #515151;
}

#container{
margin: 100px auto 0 auto;
width:855px;}

#navdiv
{
	text-align: right;
	height:60px;
}

#navdiv ul
{
	list-style-type: none;
	list-style-image: none;
	margin:0 auto 0 auto;
}

#navdiv ul li
{
	float: right;
	margin-right:10px;
	list-style-type: none;
	list-style-image: none;
}

#navdiv ul li a
{
	padding:30px 0 0 0;
	background: #d0d0d0;
	display: block;
	padding-top:10px;
	width: 100px;
	height:50px;
	text-align: center;
	color:#515151;
	text-decoration: none;
}
#navdiv ul li a:hover
{
	/*background: url(navlisttabhover.png) 0 0 no-repeat ;*/


#navdiv ul li a.selected {
	padding: 30px 0 0 0;
	background: #f7f7f7;
	display: block;
	padding-top: 10px;
	width: 100px;
	height: 50px;
	text-align: center;
	color: #515151;
	text-decoration: none;
}

#content {
	background-color: #f7f7f7;
	padding: 20px 0 20px 20px;
	height: 700px;
}

h1,
h2,
h3,
h4 {
	padding: 25px 0 5px 0;
}

h1 {
	font-size: 8em;
	padding-left: 40px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	padding: 0;
	margin: 20px;
}

#picturelist {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

#picturelist li {
	list-style: none;
	float: left;
	margin: 42px;
	font-weight: bold;
	color: #777777;
}

#picturelist img {
	display: block;
	border: 2px solid gray;
}

#picturelist img:hover {
	border: 2px solid #515151;
}

#picturelist a {
	color: #777777;
	text-decoration: none;
}

#picturelist a:hover {
	color: #999999;
}

 .group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	max-width: 190px;
}

.input {
	width: 100%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: .3s ease;
}

.input::placeholder {
	color: #9e9ea7;
}

.input:focus,
input:hover {
	outline: none;
	border-color: rgba(234, 76, 137, 0.4);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
	position: absolute;
	left: 1rem;
	fill: #9e9ea7;
	width: 1rem;
	height: 1rem;
}

.group {
	display: inline-flex;
	align-items: baseline;
}

/* From uiverse.io by @Jay-9527 */
/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 20px;
	left: 0.3em;
	bottom: 0.3em;
	background-color: white;
	transition: .4s;
}

input:checked+.slider {
	background-color: rgb(0, 221, 80);
}

input:focus+.slider {
	box-shadow: 0 0 1px rgb(0, 221, 80);
}

input:checked+.slider:before {
	transform: translateX(1.5em);
}

